*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: Agdasima, sans-serif;
    background: linear-gradient(90deg,
            black 0%,
            white 100%);
    display: flex;
    justify-content: center;

}

.card {
    background-color: #fefefe;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 0 10px 29px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 800px;
}

h1 {
    margin: 10px;
}

#userCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-left: 35px;
}

.user {
    background-color: white;
    border-radius: 0 50px;
    padding: 1rem;
    box-shadow: 0 10px 29px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 200px;
}

.user:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.user>img {
    width: 120px;
    height: 120px;
    border-radius: 0 50px 0 50px;
}

.id {
    font-weight: bold;
}

.name {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

a{
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

button {
    margin: 20px 5px 10px;
    border: none;
    background-color: white;
    box-shadow: 0 10px 29px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 8px;
}

#pagePrecedente,
#pageSuivante {
    cursor: pointer;
}

#pagePrecedente:hover,
#pageSuivante:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

#pagination {
    display: flex;
    justify-content: center;
}